#product-price p {
    display: inline-block;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: #D10024;
		position:relative;
}

.woocommerce-Price-currencySymbol{
	padding-right:8px;
}

ins {
	text-decoration: none;
}
.related .products ins {
	color: blue;
	border: 1px solid;
	padding-right: 15px;
	position:relative;
}

.related .products span.price {
	position:relative;
}
.related .products del {
	font-size:10px;
	left:10px;
	display:block;
	
}
#product-price del:first-child::before {
	width:100%;
	top:10px;
	border-top: 1px solid #424a57;
	content: '';
	position:absolute;
}

#product-price del:first-child {
	text-decoration:none;
	left:110px;
	bottom:2.5px;
	position:absolute;
	font-size: 70% !important;
  font-weight: 500 !important;
  color: #424a57 !important;
}

.product-details 
.product-available {
	font-size: 12px;
	position:relative;
	left: 100px;
	bottom: 2px;
  text-transform: uppercase;
  font-weight: 700;
  
  color: #D10024;
}

td {
	display: inline;
}
tr {
	
	align-content: center;
	vertical-align: middle;
	color: #333;
	display: inline-block;
	
}
label {
	color: #333;
	font-weight: 500 !important;
	font-size: 12px;
	position: relative;
	left:10px;
	top: 10px;
	
}

.woocommerce div.product form.cart .button,
.woocommerce .quantity .qty {
	display:none;
}

.qty-label label {	
	align-content: center;
	vertical-align:middle;
	color: #333;
	left:15px;
	top:0;
	
	
}
.qty-label td {
	display:inline-block;	
	
	
} 
select, .input-number {
	width: 91px !important;
	min-width: 90px !important;
	font-family: 'Monserrat';
padding: 0px 15px;
    background: #FFF;
    border: 1px solid #E4E7ED;
    height: 40px;	
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #333;
font-size: 12px;
	text-transform: none;
	margin:0;
    line-height: 1.42857143;
    color: #333;
}

.input-number {
	width: 92px !important;
	padding:0px;
	border:none;
	left:-3px;
}

.woocommerce div.product div.summary {
	margin-bottom: 5em;
}

.product-details .product-options label,.qty-label label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
    margin-bottom: 0px;
}

/** Social share icon button */

span.posted_in {
	text-transform: uppercase;
	font-size: 12px;
}

span.posted_in a {
	margin-left:10px;
}

.social-share-div a.buttonlink {
	font-size: 11px;
	padding: 5px;	
}

/** Single product page stock label */

.woocommerce div.product p.stock {
	position:absolute;
	top:97px;
	left:220px;
	text-transform: uppercase;
    font-weight: 700;
    color: #D10024;
	font-size:12px;
}

/*
  centers the single product section.
*/
.woocommerce div.product {
    margin-bottom: 0;
    position: relative;
    margin: 0 auto;
	  width: 85%;
 
}

/* single product section.
	 removes the border.
*/

.product {
    position: relative;
    margin: 15px 0px;
    -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 0px #E4E7ED; 
    box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 0px #E4E7ED; 
    -webkit-transition: none; 
    transition: none; 
}

/* related products hover in     single product section.
*/

ul.products li:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

/* single product section.
	 removes the border on hover.
*/

.product:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
  Product Tabs modifications
*/

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    color: #515151;
    display: inline-block;
    padding: 0 1em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    color: #515151;
    display: inline-block;
    padding: 0 1em;
	  margin: 0 10px 0 0;
    position: relative;
    top: 15px;
	  border: none;
	  background-color:white;
	  z-index:5;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0 0 1.618em;
    overflow: visible;
    position: relative;
	 
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
 		display:none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
   display:none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	text-align:center;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
    margin: 0 10px 0 10px;
    top: 15px;
    z-index: 5;
}

.woocommerce div.product .woocommerce-tabs .panel {
	box-shadow:none;
	
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	bottom: 15px;
}

/* Single product product images */

#product-main-img img{
	width:500px;
	top: 0px;
	left: 0px;
	position:relative;
}

#product-main-img.slick-slider {
	width: 480px !important;
	height: 300px;
	left:95px !important;
}

#product-imgs .slick-list {
  width:170px;
}

#product-imgs .slick-list img {
	width: 150px !important;
	height: 150px !important;
}

#product-imgs .product-preview {
  width: 160px !important;
}

#product-imgs.slick-vertical {
	width: 170px;
}



/* reviews rating and histogram wrapping div */

#reviews .cr-summaryBox-wrap, .cr-all-reviews-shortcode .cr-summaryBox-wrap, .cr-reviews-grid .cr-summaryBox-wrap {
  position: relative;
  height: 320px;
	background-color:#fff;
}
/*
#reviews .cr-summaryBox-wrap .cr-overall-rating-wrap, .cr-all-reviews-shortcode .cr-summaryBox-wrap .cr-overall-rating-wrap, .cr-all-reviews-shortcode .cr-summaryBox-wrap .cr-add-review-wrap, .cr-reviews-grid .cr-summaryBox-wrap .cr-overall-rating-wrap, .cr-reviews-grid .cr-summaryBox-wrap .cr-add-review-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px 0 0 50px;
  display: block;
}
*/

/* reviews histogram bars to display on separate new lines */

#reviews tr {
  display: block; 
}

/* review histogram chart bar */

#reviews .cr-summaryBox-wrap .ivole-summaryBox {
  position: absolute;
  top: 50px;
  width: 25%;
  left: -12px;
}

/* stars icons next to review average */

div.cr-average-rating-stars{
  padding-left: 10px;
}

/* Review rating average and stars icons div */

#reviews .cr-summaryBox-wrap .cr-overall-rating-wrap {
/*background-color:greenyellow;*/
  /*display: ruby;*/
  justify-content: left;
  /* align-items: start; */
  flex-wrap: wrap;
  flex-direction: column;
  /* position: relative; */
 	position: absolute;
  top: 0px;
  left: 0px;
}

/* text showing "based on number of reviews" */

#reviews .cr-summaryBox-wrap .cr-total-rating-count {
	display:none;
}

/* reviews big red stars */

.crstar-rating-svg .cr-rating-icon-frnt .cr-rating-icon {
  width: 30px;
  height: 25px;
  fill: #D10024;
  overflow:hidden;
}

/* reviews background big blank stars for average */

.crstar-rating-svg .cr-rating-icon-base .cr-rating-icon-bg {
	height:25px;
	width:30px;
	stroke: #E4E7ED;
	
}

/* reviews big red star as foreground over the blank stars in the background for average */

.crstar-rating-svg .cr-rating-icon-frnt {
	height: 25px;
}

/* reviews average number */

.cr-average-rating span {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 24px;
	font-weight: 700;

}

/* Reviews average stars */

.cr-average-rating-stars {
left: 30px;
top: 7px;
position: absolute;

}

/* reviews chart table histogram */

.cr-histogramTable {
	margin:10;
}

/* reviews pagination button */

.woocommerce nav.woocommerce-pagination ul li {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin-left:5px;

}

/* reviews pagination currently selected page number */

.woocommerce nav.woocommerce-pagination ul li span.current {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
  cursor: default;
  height:100%;
	line-height: normal;
}

/* reviews pagination page number */

.woocommerce nav.woocommerce-pagination ul li a {
	color: #2B2D42;
	font-weight: 500;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
	height:100%;
	line-height: normal;
}

/* reviews pagination outer box outline */

.woocommerce nav.woocommerce-pagination ul {	
	border: none;
}

/* reviews section */

#reviews {
  position: relative;
}

/* reviews form */

#review_form_wrapper {
	float:right;
	position:relative;
	margin-top: 50px;
	width: 25%;
}

/* reviews comments ol list */
.woocommerce #reviews #comments ol.commentlist {
	position: absolute;
	top: 0;
	min-width: fit-content;
	margin-top: 50px;
	overflow: auto;
	height: 300px;
}

/* Reviews count and product name in title */
.woocommerce #reviews #comments h2 {
  position: absolute;
  top: -10px;
}

/* Rating Meter bar red color */

.ivole-meter .ivole-meter-bar {
  background: #D10024;
  /* background: -webkit-linear-gradient(top, #ffce00, #ffa700); */
  /* background: linear-gradient(to bottom, blue, #ffa700); */
  /* background-color: blue; */
  /* box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25), inset 0 -1px 0 rgba(0, 0, 0, .05); */
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  float: left;
  font-size: 0;
  
  
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
}

/* whole rating bar grey colour */

.ivole-meter {
  overflow: hidden;
  background: none;
  box-shadow: none;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  height: 9px;
  background-color: #E4E7ED;
  width: 120px;
  margin: 0px 10px;
  border-radius: 5px;
}

/* red star */

.ivole-histogramRow i.fa-star,
.rjs-comment-authorinfo.rjs-sans i.fa-star {
  color: #D10024;
  font-size:15px;
}

/* remove margin for first red star */

.ivole-histogramRow i.fa-star, .rjs-comment-authorinfo.rjs-sans i.fa-star:not(:first-child){
  margin-left: 3px;
	
}

/* blank star */

.ivole-histogramRow i.fa-star-o,
.rjs-comment-authorinfo.rjs-sans i.fa-star-o{
	color: #E4E7ED;
	margin-left: 3px;
	font-size:15px;
}

/* Number of reviews and percent */

.cr-histogramTable tr.ivole-histogramRow .ivole-histogram-a, .cr-histogramTable tr.ivole-histogramRow .cr-histogram-a {
  font-size: 12px;
  color: #8D99AE;
}

/* author, date, stars for comments div li children */

.woocommerce #reviews #comments ol.commentlist li {
  clear: both;
}

/* author, date, stars for comments div */

.rjs-comment-authorinfo.rjs-sans {
  float:left;
	margin-bottom:20px;
	min-width: fit-content;
}

/* space below reviewer name for comments div */

.rjs-comment-authorinfo.rjs-sans h5 {
  margin-bottom: 5px;
  margin-top: 0px;
}

/* date in comments div */

.rjs-comment-authorinfo.rjs-sans .rjs-comment-date {
  color: #8D99AE;
  font-size: 10px;
  margin: 0;
  
}

/* space for stars in comments div */

.rjs-comment-authorinfo.rjs-sans .rjs-comment-rating {
  margin-top: 5px;
}

p.rjs-comment-text {
	padding: 10px;
}

/* comments paragraph text outline */

div.rjs-comment-reply {
	position: absolute;
	left: 90px;
	border: 1px dotted silver;
	width: 78%;
}

/* comments wrapping div */

.woocommerce #reviews #comments #commentslist {
	position: absolute;
  top: 0;
	height: 200px;
	width: 50%;
	left:25%;
	margin-left: 10px;
}

/* review form textarea */
.woocommerce #review_form #respond textarea {
  padding: 15px;
	min-height: 150px;
}

.review_form .input {
  margin-bottom: 15px;
	background-color: yellow;
}

.review_form  {
  margin-bottom: 15px;
}

.woocommerce p.stars a:first-child {
	padding-right: 20px;
	color: #E4E7ED;
}

.woocommerce p.stars a:not(:first-child) {
	color: #E4E7ED;
	padding-right: 20px;
	width: 15px;
	margin-left: -5px;
}

.woocommerce p.stars {
	width: 150px !important;
}
.woocommerce p.stars span {
	 display: inline-block;
  width: 150px;
}
.woocommerce p.stars a::before {
	content: "\e021";
   /* font-family: FontAwesome;*/
    color: #E4E7ED;
	padding-right:15px; 
}


.woocommerce p.stars span:hover a::before
{
    /*content: "\f006";*/
	content: "\e021";
    color:#D10024;
}

.woocommerce p.stars span:hover,
.woocommerce p.stars a:hover~a::before {
   
    color: #E4E7ED;
	 content: "\e021";
	 
	
}

.woocommerce p.stars.selected a.active::before {
    content: "\e020";
    color: #D10024;
}

.woocommerce p.stars.selected a.active~a::before {
    content: "\e021";
    color: #E4E7ED;
    
}

/*  stars before selected one */
.woocommerce p.stars.selected a:not(.active)::before {
    color: #D10024;
}

/* unselected stars gray 
.woocommerce p.stars.selected span:hover,
.woocommerce p.stars.selected a.active~a::before{
    color: #E4E7ED;
}
*/


.woocommerce p.stars.selected a.active~a:hover::before {   
    color: blue;
	 content: "\e021";	
}

.woocommerce #review_form #respond .form-submit input {
		display: inline-block;
    padding: 12px 30px;
    background-color: #D10024;
    border: none;
    border-radius: 40px;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    transition: 0.2s all;
		top:40px;
}

.woocommerce #review_form #respond .form-submit .submit:hover,
.woocommerce #review_form #respond .form-submit .submit:focus
{
		opacity: 0.9;
    color: #FFF;
}

#review_form .comment-form-rating {
	position:absolute;
	top:210px;
	left: 1px;
}

.comment-form-comment label[for="comment"],
span#reply-title{
	display:none;
}

.comment-form-rating label[for="rating"] {
	top:30px ;
	left: 5px;
	font-size: 14px;
}

.woocommerce p.stars {
	left: 90px;
	top: 33px;
	position:absolute;
}


/* TextArea review input*/
.woocommerce #review_form #respond textarea{
	height: 220px;
	max-height: 220px;
	overflow: auto;
}


/* Comments div */
.woocommerce #reviews #comments {
	float:left;
}

/* Reviews pagination */
.woocommerce nav.woocommerce-pagination {
  text-align: center;
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translatex(-50%);
}